<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script>
          // Set global variable
    var watchID;

    function showPosition() {
        if(navigator.geolocation) {
            watchID = navigator.geolocation.watchPosition(successCallback);
        } else {
            alert("Sorry, your browser does not support HTML5 geolocation.");
        }
    }

    function successCallback(position) {


        // Check position has been changed or not before doing anything
        if(prevLat != position.coords.latitude || prevLong != position.coords.longitude){

            // Set previous location
            var prevLat = position.coords.latitude;
            var prevLong = position.coords.longitude;

            // Get current position
            var positionInfo =   position.coords.latitude + ", " + position.coords.longitude ;
           // document.getElementById("result").innerHTML = positionInfo;
             $.ajax({
                type: "POST",
                url: "/getdata",
                contentType: "application/json",
                data: JSON.stringify({loc: positionInfo}),
                dataType: "json",
                success: function(response) {
                    console.log(response);
                },
                error: function(err) {
                    console.log(err);
                }
            });

        }

    }



    // Initialise the whole system (above)
    window.onload = showPosition;

    </script>
    <title>Live Streaming Demonstration</title>
</head>
<body>

<h5>Live Streaming</h5>
<img src="{{ url_for('video_feed') }}" width="1340px" height="630px">

<div id="result">
    <!--Position information will be inserted here-->
</div>


</body>
</html>